<%= form_for(@member) do |f| %>
  <% if @member.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@member.errors.count, "error") %> prohibited this member from being saved:</h2>

      <ul>
      <% @member.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :bio %><br />
    <%= f.text_field :bio %>
  </div>
  <div class="field">
    <%= f.label :twitter %><br />
    <%= f.text_field :twitter %>
  </div>
  <div class="field">
    <%= f.label :github %><br />
    <%= f.text_field :github %>
  </div>
  <div class="field">
    <%= f.label :weapon %><br />
    <%= f.text_field :weapon %>
  </div>
  <div class="field">
    <%= f.label :specialty %><br />
    <%= f.text_field :specialty %>
  </div>
  <div class="field">
    <%= f.label :catch_phrase %><br />
    <%= f.text_field :catch_phrase %>
  </div>
  <div class="field">
    <%= f.label :profile_pic_url %><br />
    <%= f.text_field :profile_pic_url %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
